@charset "UTF-8";

 * {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
 }

 body, html {
    height: 100vh;
    width: 100vw;
    background-color: black;
 }

 body {
    background: black url("/imagens/fundo-madeira.jpg") no-repeat top center;
    background-size: cover;
    background-attachment: fixed;
    position: absolute;
 }

 main {
   position: relative;
   height: 100vh;
 }

 section#telefone {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    height: 626px;
    width: 311px;
    background: url("/imagens/frame-iphone.png") no-repeat top center;
}

iframe#tela {
    top: 51%;
    left: 50%;
    transform: translate(-50%,-50%);
    
    position: relative;
    height: 475px;
    width: 266px;
    background-size: cover;
}

section#redes-sociais {
   text-align: right;
}

section#redes-sociais img {
   width: 50px;
   margin: 10px;
   border-radius: 50%;
   box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.401);
   box-sizing: border-box;
}

section#redes-sociais img:hover {
   border: 1px solid white;
   transform: translate(-3px, -3px);
   box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.464);
   transition: 0.5s;
}


